<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.accesscontrol.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>controller.accesscontrol.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.accesscontrol.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountController</servlet-name>
        <servlet-class>controller.accesscontrol.ChangeAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusListBlogController</servlet-name>
        <servlet-class>controller.accesscontrol.CusListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusBlogDetailController</servlet-name>
        <servlet-class>controller.accesscontrol.CusBlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketController</servlet-name>
        <servlet-class>controller.bookTicket.SelectSeatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/cuslogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountController</servlet-name>
        <url-pattern>/change1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusListBlogController</servlet-name>
        <url-pattern>/cuslistblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusBlogDetailController</servlet-name>
        <url-pattern>/cusblogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeLoginController</servlet-name>
        <servlet-class>controller.accesscontrol.EmployeeLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLoginnController</servlet-name>
        <servlet-class>controller.accesscontrol.EmployeeLoginnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>controller.accesscontrol.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUsernameController</servlet-name>
        <servlet-class>controller.accesscontrol.VerifyUsernameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeLoginnController</servlet-name>
        <url-pattern>/employee_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/employee_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUsernameController</servlet-name>
        <url-pattern>/verify_username</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketController</servlet-name>
        <url-pattern>/BookTicketURL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>controller.bookTicket.booking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
</web-app>
